* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    background-color: #014f97;
}

html,
body {
    height: 100%;
}

.center {
    width: 1200px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

header {
    width: 100%;
    height: 90px;
    padding-top: 50px;
    padding: 0 -40px;
    border-bottom: 4px solid black;
    background-image: url(../img/bandeira_one_piece.png);
    background-size: 200px 150px;
    background-repeat: no-repeat;
    background-position: left;
    background-color: black;
    text-align: center;
}

header a {
    display: inline;
    font-family: 'Pirata One';
    text-decoration: none;
    font-size: 30px;
    margin-left: 60px;
    margin-top: 200px;
    color: rgb(255, 255, 255);
}

body {
    width: 80%;
    min-width: 1200px;
    min-height: 2000px;
    height: 0 auto;
    position: relative;
    margin: 0 auto;
    background-color: rgb(209, 128, 23);
    border: 4px solid rgba(0, 0, 0, 0.9);
}

p {
    margin: 50px;
    font-size: 25px;
    font-family: 'Pirata One';
}

a {
    text-decoration: none;
    font-size: 17px;
    color: white;
    margin: 50px;
}

a:hover {
    color: rgb(255, 59, 59);
}

.container_news {
    position: absolute;
    right: 0px;
    top: 145px;
    width: 40%;
    height: 340px;
    transition: 1s;
}

.banner_home img {
    position: relative;
    width: 60%;
    height: 340px;
    border-bottom: 4px solid black;
}

.container_news img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.bullets {
    text-align: right;
    float: initial;
}

.bullet-single {
    margin: 0 8px;
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #ccc;
}

.active-bullet {
    background-color: #333;
}

.footer {
    font-size: 18px;
    margin-top: 70%;
    text-align: center;
}

.images_gallery {
    padding-left: 20px;
}

.images_gallery img {
    width: 33.3%;
    height: 20%;
    position: absolute;
    padding-left: 20px;
}

.images_gallery p:hover {
    color: seagreen;
}

.text_home {
    padding-bottom: 30%;
}